/* Category.module.css */

.container {
  color: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.margin {
  margin-top: 20vh;
}

.categoryTable {
  border-collapse: collapse;
  width: 85vw;
  max-height: 60vh;
  overflow-y: auto;
  margin: 0 auto;
}

.categoryTable th,
.categoryTable td {
  border: 1px solid #ddd;
  width: 35vw;
  padding: 8px;
  text-align: center;
}

.categoryTable th {
  background-color: var(--card);
  font-weight: bold;
  font-size: 18px;
}

.deleteBtn,
.updateBtn {
  margin-right: 15px;
  cursor: pointer;
  width: 5vw;
  border-radius: 10px;
  color: var(--font);
}

.updateBtn {
  background-color: #4caf50;
  padding: 1.5vh 1vw;
}

.deleteBtn {
  padding: 1.5vh 1vw;
  background-color: #f44336;
}

.AddSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20vh;
  width: 45vw;
  margin: 1vh 27vw;
}

.addCategory {
  margin: 20px;
}

.addCategory input {
  width: 30vw;
  padding: 6px;
  margin: 5vh 10px;
}

.addBtn {
  padding: 6px 20px;
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 3px;
}

.confirmationModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmationModalCon {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.confirmationModalCon p {
  margin-bottom: 20px;
}

.confirmationModalCon button {
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.confirmationModalCon button:first-child {
  background-color: #f44336;
  color: #fff;
}

.confirmationModalCon button:last-child {
  background-color: #4caf50;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateCategoryContainer {
  max-width: 400px;
  position: absolute;
  top: 15%;
  left: 40%;
  margin: 0 auto;
  color: var(--font);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.updateCategoryContainer input{
  margin-bottom: 20px;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input,select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formContainer {
  display: flex;
}

.inputField {
  margin: 10px;
  width: 25vw;
}

.buttonContainer {
  margin-left: 10px;
}


.addButton {
  width: 58.8vw;
  display: flex;
  margin: 3vh 20vw;
  justify-content: center;
}
