 .container {
  color: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.margin {
  margin-top: 20vh;
}

.categoryTable {
  border-collapse: collapse;
  width: 90vw;
  max-height: 60vh;
  overflow-y: auto;
  margin: 0 auto;
}

table{
  width: 100%;
}

.categoryTable th,
.categoryTable td {
  border: 1px solid #ddd;
   padding: 8px;
  text-align: center;
}

.categoryTable th {
  background-color: var(--card);
  font-weight: bold;
  font-size: 18px;
}

.deleteBtn,
.updateBtn {
  margin-right: 15px;
  cursor: pointer;
  width: fit-content;
  border-radius: 10px;
  color: var(--font);
  padding: 1.5vh 1vw;
}

.updateBtn {
  background-color: #4caf50;
}

.deleteBtn {
   background-color: #f44336;
}

.AddSection {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 20vh;
  width: 45vw;
  margin: 1vh 27vw;
}

.addCategory {
  margin: 20px;
}

.addCategory input {
  width: 30vw;
  padding: 6px;
  margin: 5vh 10px;
}

.addBtn {
  padding: 6px 20px;
  cursor: pointer;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 3px;
  margin-top: -14vh;
}

.confirmationModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmationModalCon {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.confirmationModalCon p {
  margin-bottom: 20px;
}

.confirmationModalCon button {
  margin-right: 10px;
  padding: 10px 20px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.confirmationModalCon button:first-child {
  background-color: #f44336;
  color: #fff;
}

.confirmationModalCon button:last-child {
  background-color: #4caf50;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.updateCategoryContainer {
  max-width: 700px;
  position: absolute;
  top: 15%;
  left: 30%;
  margin: 3vh auto;
  color: var(--font);
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.1);
}

.updateCategoryContainer input{
  margin-bottom: 20px;
  width: 100%;
}

h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 16px;
}

input,select {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
}

button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.formContainer {
  display: flex;
}

.inputField,.inputsearch {
  margin: 10px;
  width: 25vw;
}

.buttonContainer {
  margin-left: 10px;
}


.addButton {
  width: 15vw;
  display: flex;
  margin: -10vh 40vw 3vh;
  justify-content: center;
  border-radius: 5px;
  font-size: 20px;
}

.paginationNext{
  width: fit-content;
  padding: 1vh 3vw;
  border-radius: 10px;
margin: 1vh -2vw;
}

 @media only screen and (max-width: 1300px) {
  .inputField{
    width: 15vw;
}
}

@media only screen and (max-width: 1200px) {
  .inputField{
    width: 13vw;
}
}
 

@media only screen and (max-width: 953px) {
  .deleteBtn,
  .updateBtn {
    width: 7vw;
  }
}

@media only screen and (max-width: 890px) {
.deleteBtn,
.updateBtn {
  width: 7vw;
  padding: 1.5vh .5vw;
}
}

@media only screen and (max-width: 769px) {
  .categoryTable td,
  .categoryTable th {
    width: 100%;
    white-space: nowrap; 
  }
  table{
    width: 100%;
  }

  .addCategory {
    width: 70%;
    margin: auto ;
  }

  .AddSection {
    flex-direction: column;
    align-items: stretch;
    width: 80vw;
    margin: 1vh 10vw;
  }

  .updateCategoryContainer {
    width: 80vw;
    left: 10%;
  }

  .inputField,
  .buttonContainer {
    width: 100%;
  }
  .inputsearch{
    width: 30vw;
    margin: 2vh 2vw 2vh 10vw;
  }

.container2{
  margin: 0 -3vw;
}
.container2 button{
  width: 48vw;
  margin-left: 24vw;
}

  .addButton {
     border-radius: 8px;
     margin-top: 0vh;
     margin-right: 28vw;
      }
      
      .categoryTable {
        width: 100%; 
        margin: 1vh 6vw;
      }
 }
 
 @media only screen and (max-width: 750px) {
.deleteBtn,
.updateBtn {
  width: 10vw;
}
.categoryTable th,
.categoryTable td {
  width: 25vw;
}
}

@media only screen and (max-width: 710px) {
  .deleteBtn,.updateBtn {
width: 37%;
}
}
 
@media only screen and (max-width: 690px) {
  .deleteBtn,
  .updateBtn {
     padding: 1.5vh;
    margin: 0 2vw;
  }
  .container2 button{
width:53vw ;
  }
  .addButton {
    margin-right: 25vw;
     }
}
@media only screen and (max-width: 630px) {
 
  .container2 button{
width:52vw ;
  }
  .addButton {
    margin-right: 26vw;
     }
}
@media only screen and (max-width: 620px) {
 
  .container2 button{
width:50vw ;
  }
  .addButton {
    margin-right: 26vw;
     }
}
@media only screen and (max-width: 560px) {
 
  .container2 button{
width:48vw ;
  }
  .addButton {
    margin-right: 29vw;
     }
}
@media only screen and (max-width: 520px) {
 
  .container2 button{
width:56vw ;
  }
  .addButton {
    margin-right: 27vw;
     }
   .AddSection{
    width: 90vw;
    margin: auto;
   }
}
@media only screen and (max-width: 490px) {
 
  .container2 button{
width:54vw ;
  }
  .addButton {
    margin-right: 27vw;
     }
 
}
@media only screen and (max-width: 450px) {
 
  .container2 button{
width:50vw ;
  }
  .addButton {
    margin-right: 29vw;
     }
 
}

@media only screen and (max-width: 440px) {
 
  .container2 button{
width:48vw ;
  }
  .addButton {
    margin-right: 32vw;
     }
   .AddSection{
    width: 100vw;
   }
}
@media only screen and (max-width: 410px) {
 
  .container2 button{
width:68vw ;
  }
  .addButton {
    margin-right: 25vw;
     }
   .AddSection{
    width: 110vw;
    margin: auto;
   }
}
@media only screen and (max-width: 391px) {
 
  .container2 button{
width:58vw ;
  }
  
  .addButton {
    margin-right: 29vw;
     }

   .AddSection{
    width: 110vw;
    margin: auto;
   }
}
@media only screen and (max-width: 360px) {
 
  .container2 button{
width:65vw ;
  }
  .addButton {
    margin-right: 28vw;
     }
   .AddSection{
    width: 105vw;
    margin: auto;
   }
}

.paginationNext{
  width: fit-content;
  padding: 1vh 3vw;
  border-radius: 10px;
margin: 1vh -2vw;
}
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh ;
  gap: 7vw;
}