body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

.profileContainer {
  background-color: var(--back);
  color: var(--font);
  display: flex;
  justify-content: space-between;
}

.profileInfo,
.changePassword {
  width: 40vw;
  position: absolute;
  top: 40%;
  left: 38%;
}

.profileInfo p {
  color: var(--font);
}

.AsideBar {
  position: absolute;
  top: 14%;
  left: 7%;
  width: 26vw;
  height: 80vh;
  z-index: -2323;
  box-shadow: 2px 0px 0px var(--font);
  padding: 30vh 40px;
  color: var(--font);
}

.changePassword {
  top: 30%;
  z-index: -3243;
}

.changePassword label,
.changePassword button {
  margin-top: 10px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  color: var(--font);
}

.AsideBar button {
  border-radius: 10px;
}

button:hover {
  background-color: rgba(0, 0, 255, 0.8);
}

@media only screen and (max-width: 768px) {

  .profileInfo,
  .changePassword {
    width: 80%;
    left: 0%;
    margin: 18vh 0vw 0;
  }

  .AsideBar {
    width: 90%;
    left: 5%;
    padding: 10vh 20px;
    box-shadow: 0px 0px;
  }

  form {
    width: 70vw;
    padding: 5vh 7vh;
  }
}

