/* styles.css */
.filter-container {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.filter-right {
    right: -8rem;
}

.filter-right:hover {
    right: 0;
}

.filter-left {
    left: -8rem;
}

.filter-left:hover {
    left: 0;
}