.grid {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4vw;
  margin: 10vh 25vw 0;
  text-align: center;
}



.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.font2 {
  font-family: 'Fjalla One', sans-serif;
}




@media (max-width: 1200px) {
  .grid {
    grid-template-columns: auto auto auto;
    gap: 2vw;
  }

}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: auto auto;
    gap: 5vw;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -o-transform: translateY(-30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-container {
  animation: fadeIn 1s ease-in-out forwards;
}