/* LogOutBtn */
.LogOutBtn {
    width: 10vw;
    border-radius: 10px;
    font-weight: bold;
    position: fixed;
    margin: 5vh 86vw 5vh 86vw;
    padding: 14px 0;
    color: var(--font);
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 768px) {
    .LogOutBtn {
        width: 18vw;
        margin: 5vh 75vw 5vh 79vw;
        }
    
    /* Add more styles as needed for smaller screens */
}
@media only screen and (max-width: 618px) {
    .LogOutBtn {
        width: 16vw;
        margin: 5vh 77vw 5vh 80vw;
    }
    
    /* Add more styles as needed for smaller screens */
}
@media only screen and (max-width: 480px) {
    .LogOutBtn {
        width: 23vw;
        margin: 5vh 70vw 5vh 74vw;
    }
    
    /* Add more styles as needed for smaller screens */
}
@media only screen and (max-width: 280px) {
    .LogOutBtn {
        width: 23vw;
    }
    
    /* Add more styles as needed for smaller screens */
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
    .LogOutBtn {
        margin: 5vh 84vw 5vh 85vw;
         width: 10vw;
    }

    /* Add more styles as needed for medium-sized screens */
}

/* Add more media queries for larger screens if necessary */
