.billsContainer {
  padding: 15vh 0;
  margin: auto 5vw;
}

.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3vh ;
  gap: 7vw;
}

.btn {
  padding: 10px 20px;
  background-color: #2196f3;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  margin-bottom: 20px;
  display: inline-block;
}

.billsTable p {
  color: var(--font);
}

.billsTable :first-child {
  margin-top: 3vh;
}

.deleteBtn,
.updateBtn,
.addBtn {
  cursor: pointer;
  border-radius: 10px;
  color: #fff !important;
  padding: 1.5vh 3vw;
  width: fit-content;
}

.updateBtn {
  background-color: #4caf50;
  margin:0 2vw;
}

.deleteBtn {
  background-color: #f44336;
}

.addBtn {
  background-color: #2196f3;
}

form {
  display: grid;
  grid-template-columns: auto;
  gap: 1vw;
  width: 40vw;
  margin: auto;
  padding: 12.5vh;
  color: var(--font);
}

input {
  width: 100%;
  color: #000 !important;
}

.inputField {
  margin: 2vh 0;
}

.deleteButton{
  width: fit-content;
  margin: 3vh;
  padding: 1vh 1vw;
  font-size: 20px;
  border-radius: 10px;
  background-color: #f44336;
}

.createBill form{
  width: 40vw;
  padding-top: 15vh;
}

.createBill form input,.createBill form select{
  width: 100%;
}

.confirmationModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999;
}

.confirmationModalCon {
  background: #27385c;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
}

.confirmationModalCon p {
  color:#fff;
  font-size: larger;
  margin-bottom: 20px;
  margin-top: 20px;
}

.confirmationModalCon button {
  margin-right: 10px;
  /* padding: 10px 20px; */
  width: 5rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.confirmationModalCon button:first-child {
  background-color: #f44336;
  color: #fff;
}

.confirmationModalCon button:last-child {
  background-color: #4caf50;
  color: #fff;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 1300px) {
  .inputField {
    width: 15vw;
  }
}

@media only screen and (max-width: 1200px) {
  .inputField {
    width: 13vw;
  }
  .createBill form{
    width: 52vw;
  }
}

@media only screen and (max-width: 953px) {
  .deleteBtn,
  .updateBtn {
    width: 11vw;
  }
  .createBill form{
    width: 60vw;
  }
}

@media only screen and (max-width: 890px) {
  .deleteBtn,
  .updateBtn {
    width: 7vw;
    padding: 1.5vh 0.5vw;
  }
}

@media only screen and (max-width: 768px) {
  .inputField {
    width: 100%;
  }
  .createBill form{
    width: 75vw;
  }
  .createBill form label{
    margin-top: 1vw;
  }
  .deleteButton{
    padding:1vh 2vw;
  }
  .btn {
    border-radius: 8px;
  }
  .deleteBtn,
  .updateBtn {
    width: 9vw;
  }
  .tableWrapper {
    overflow-x: scroll;
  }
   
  table {
    width: auto; 
    margin-left: 2vw; 
  }

  table th,
  table td {
    white-space: nowrap;
    min-width: 100px; 
  }
  .billsTable table {
    width: auto;
  }
}

.Actions{
  margin: 2vh;
  text-align: center;
}

@media only screen and (max-width: 750px) {
  .deleteBtn,
  .updateBtn {
    width: 8vw;
  }
  table th,
  table td {
    width: 50vw;
  }
}

@media only screen and (max-width: 710px) {
  .deleteBtn,
  .updateBtn {
    width: 9vw;
  }
  .createBill form{
    width: 70vw;
  }
}

@media only screen and (max-width: 690px) {
  .deleteBtn,
  .updateBtn {
    width: 10vw;
    padding: 1.5vh;
    margin: 0 2vw;
  }
  .createBill form{
    width: 75vw;
  }
}

@media only screen and (max-width: 510px) {
  .deleteBtn,
  .updateBtn {
    width: 12vw;
  }
  .createBill form{
    width: 90vw;
  }
  .billsTable{
     padding: 3vh 8vw 3vh 0;
    margin-top: 5vh;
  }
  
}

.printButton{
  width: fit-content;
  padding: 2vh 4vw;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}

.paginationNext{
  width: fit-content;
  padding: 1vh 3vw;
  border-radius: 10px;
margin: 1vh -2vw;
}

@media only screen and (max-width: 470px) {
  .createBill form{
    width: 100vw;
    }
  .billsTable{
    padding: 3vh 5vw 3vh 2vw;
 }
 table th,
 table td {
   min-width: unset; 
 }
}

.tableWrapper {
  overflow-x: auto;
  max-width: 100%;
}

.billsTable {
  color: var(--font);
  border-collapse: collapse;
  width: 100%;
  margin: 3vh auto;
  overflow-x: auto;
  border: 1px solid var(--font);
  padding:0vw 4vh;
}

.billsTable table th,
.billsTable table td {
  background-color: var(--card);
  font-weight: bold;
  font-size: 18px;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
