 .sidebar {
     background: var(--back);
     transition: all 0.5s;
 }

 .logo {
     font-size: 30px;
 }

 .link {
     display: flex;
     color: var(--font);
     padding: 10px 15px;
     margin: 1vh 1vw 1vh 2vw;
     gap: 15px;
     transition: all 0.5s;
     align-items: center;
    }
    .dropDown {
        color: var(--font);
        margin: 5px 1vw 5px 2vw;
        padding: 2px 5px 0;
 }

 .link:hover , .dropDown:hover {
     background: #713f12;
     border-radius: 10px;
     transition: all 0.5s;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
     -ms-transition: all 0.5s;
     -o-transition: all 0.5s;
}


 .active {
     background: #713f12;
 }

 .icon,
 .link_text {
     font-size: 18px;
 }