 .sidebar {
     background: var(--back);
     transition: all 0.5s;
 }

 .logo {
     font-size: 30px;
 }

 .link {
     display: flex;
     color: var(--font);
     padding: 10px 15px;
     margin: 1vh 0 1vh 3vw;
     gap: 15px;
     transition: all 0.5s;
 }

 .link:hover {
     background: #713f12;
     border-radius: 10px;
     transition: all 0.5s;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
 }

 .active {
     background: #713f12;
 }

 .icon,
 .link_text {
     font-size: 18px;
 }