.sidebar {
  background: var(--back);
  transition: all 0.5s;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 260px;
  padding: 20px 0;
  background-color: var(--back);
  overflow-y: auto;
  border-right: 1px solid #ddd;
}

.logo {
  font-size: 30px;
}

.link {
  display: flex;
  color: var(--font);
  padding: 10px 15px;
  margin: 1vh 1vw 1vh 2vw;
  gap: 15px;
  transition: all 0.5s;
  align-items: center;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}
.dropDown {
  margin: 1px 1vw 1px 2vw;
  padding: 4px 5px;
  color: var(--font);
}

.link:hover,
.dropDown:hover {
  background: #006edc;
  color: white;
  border-radius: 0px;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
}
.branch:hover {
  background: transparent;
}
.icon,
.link_text {
  font-size: 18px;
}
/* 
.card{
  perspective: 1500px;
  background-color: #006edc;
}
.chk{
  display: none;
}
.animatedContent{
  
  transform-style: preserve-3d;
  transition: transform 1s cubic-bezier(0.075, 0, 0.85, 1);
  -webkit-transition: transform 1s cubic-bezier(0.075, 0, 0.85, 1);
  -moz-transition: transform 1s cubic-bezier(0.075, 0, 0.85, 1);
  -ms-transition: transform 1s cubic-bezier(0.075, 0, 0.85, 1);
  -o-transition: transform 1s cubic-bezier(0.075, 0, 0.85, 1);
}
.chk:checked ~ .animatedContent{
  animation: 2s animate;
  transform: rotateY(180deg);
  -webkit-animation: 2s animate;
}
@keyframes animate {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(180deg);
  }
}

.front, .back{
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform-style: preserve-3d;
  perspective: 1500px;
}
.back{
  transform: rotateY(180deg);
} */