/* login */

/* Common styles for all screens */
.LoginContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: -243;
    color: var(--font);
    font-family: sans-serif;
    letter-spacing: 0.5px;
    background-image: url(../../Images/fd1f6fa5d807ce47cf9a624e5b145aaf.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    font-weight: bold;
}

.LoginForm {
    background-color: #000000a3;
    width: 40vw;
    padding: 20px;
    border: 1px solid #f0f0f0;
    border-radius: 8px;
    box-shadow: 1px 4px 10px 15px rgba(0, 0, 0, 0.1);
}

.FormGroup {
    margin-bottom: 20px;
}

label {
    display: block;
    font-size: 18px;
    margin: 0 5px 8px 0;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 25px;
    border: none;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    background-color: #0056b3;
    text-align: center;
}

.forgetPass {
    cursor: pointer;
    color: #0056b3;
    padding: 5px 0 10px;
}

/* Media queries for different screen sizes */
@media only screen and (max-width: 600px) {
    /* Adjust styles for screens up to 600px wide */
    .LoginForm {
        width: 80vw;
    }
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    /* Adjust styles for screens between 601px and 900px wide */
    .LoginForm {
        width: 60vw;
    }
}

@media only screen and (min-width: 901px) and (max-width: 1200px) {
    /* Adjust styles for screens between 901px and 1200px wide */
    .LoginForm {
        width: 50vw;
    }
}

@media only screen and (min-width: 1201px) {
    /* Adjust styles for screens wider than 1200px */
    .LoginForm {
        width: 40vw;
    }
}
