

header #icon {
  font-size: 2rem;
  cursor: pointer;
  margin-left: 1vw;
  color: var(--font);
}

@media only screen and (max-width: 1300px) {
  header #icon {
    margin-left: 80px;
  }
}

@media only screen and (max-width: 1200px) {
  header #icon {
    margin-left: 7vw;
    margin-right: 23vw;
  }
}

@media only screen and (max-width: 1100px) {
  header #icon {
    margin-left: 10vw;
    margin-right: 27vw;
  }
}

@media only screen and (max-width: 1000px) {
  header #icon {
    margin-left: 12vw;
  }
}

@media only screen and (max-width: 950px) {
  header #icon {
    margin-left: 15vw;
    margin-right: 30vw;

  }
}

@media only screen and (max-width: 850px) {
  header #icon {
    margin-right: 33vw;
    margin-left: 17vw;
  }
}

@media only screen and (max-width: 800px) {
  header #icon {
    margin-left: 20vw;
    margin-right: 36vw;

  }
}

@media only screen and (max-width: 700px) {
  header #icon {
    margin-left: 24vw;
  }
}

@media only screen and (max-width: 650px) {
  header #icon {
    margin-left: 30vw;
  }
}

@media only screen and (max-width: 580px) {
  header #icon {
    margin-left: 35vw;
    margin-right: 60vw;
  }

  .FormTranslate {
    width: 115px;
  }
}

@media only screen and (max-width: 530px) {
  header #icon {
    margin-left: 40vw;
  }
}

@media only screen and (max-width: 480px) {
  header #icon {
    margin-left: 39vw;
    margin-right: 54vw;
  }
}

@media only screen and (max-width: 380px) {
  header #icon {
    margin-left: 41vw;
    margin-right: 57vw;
  }
}

@media only screen and (max-width: 290px) {
  header #icon {
    margin-left: 37vw;
  }
}

/* login */
.FormTranslate {
  margin: 5vh 170px 5vh 70px;
  border-radius: 8px;
  box-shadow: 0px 0px 1px 1px var(--font);
  position: fixed;
  width: 185px;
  padding: 10px;
  text-align: center;
  z-index: 2;
  background-color: var(--title);
  color: var(--font);
}

.FormTranslate li {
  list-style: none;
  border: 1px solid var(--font);
  padding: 5px 10px;
  text-align: center;
  display: none;
}

.FormTranslate p {
  text-align: center;
  height: 15px;
  vertical-align: middle;
}
.parentDiv {
    position: relative;
    margin: auto;
    top: 7vh;
 }
@media only screen and (max-width: 768px) {

  .FormTranslate {
    margin: 5vh 10px 5vh 5vw;
  }
}

@media only screen and (max-width: 930px) {
.parentDiv input,.parentDiv button{
  width: 19rem;
      margin: auto;
  }
}
@media only screen and (max-width: 480px) {
.parentDiv input,
  .parentDiv button{
  width: 17rem;
    }
}
@media only screen and (max-width: 420px) {
.parentDiv input,
  .parentDiv button{
  width: 15rem;
    }
}


@media only screen and (min-width: 769px) and (max-width: 1200px) {
  .FormTranslate {
    margin: 5vh 50px 5vh 10vw;
  }


}

.font {
  font-family: 'Lobster', sans-serif;
}

ul:hover .arrow {
  rotate: 180deg;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}

ul:hover li {
  display: block;
}

.sticky-header {
  background-color: #f8f8f8;
}

/* forget pass */
.container1 {
  width: 700px;
  margin: auto;
  padding-top: 20vh;
  background-color: var(--back);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  color: var(--font);
}

h1 {
  color: #333;
}

p {
  color: #555;
}

input,
button {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
}

.ForgotPasswordStep1 {
  text-align: center;
}

.ForgotPasswordStep2 {
  text-align: center;
}

.ForgotPasswordStep3 {
  text-align: center;
}

button {
   color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

 


.AddUser {
  margin-top: 20vh;
}

.house {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  /* Adjust values as needed */
}